Email Aggregate.json
{
  "name": "Email Aggregate",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -64
      ],
      "id": "aa6f8d83-073e-4b10-bc6e-3462e31d6a50",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -224,
        -64
      ],
      "id": "0287bf13-65bf-4e3d-88c7-ad85826b1b23",
      "name": "Get many messages",
      "webhookId": "c4f9c15f-fb6d-4c17-8cad-3ca0e19c95cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "JbiTfqSQeLyp6WaH",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        -64
      ],
      "id": "a5ac26f1-1072-4fc6-9fee-a6f1602068fa",
      "name": "Get a message",
      "webhookId": "3cb86e65-3b0e-443c-a782-9e64b302bc23",
      "credentials": {
        "gmailOAuth2": {
          "id": "JbiTfqSQeLyp6WaH",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to draft an email reply in a very professional way . some things to know Iam right now not for promotions or collaboration but m open for meeting and roject discustion as well.\nI want to reply on this email : {{ $json.from.text }}\nI want you to draft replay and give me only the body I don't want you to give me any subject line ore anything just give me the body text .\n My namre Is Md. Sumon Islam",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        -64
      ],
      "id": "adf3b76a-0652-410c-b676-6150f3b0b43d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        144
      ],
      "id": "41b0c83e-4034-4b98-9f3f-02fdbc8c88f3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oVgAFbeyVbAhZ8JL",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        544,
        -64
      ],
      "id": "44d1e3a3-2094-44ab-9ced-daf7c5222706",
      "name": "Create a record"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2c2e5540-e30b-46b0-ae91-08d7ef1b8434",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7db47f15ddedc6fe6dadd132e4ab45884d0e3e996ae558fe298c838e03b1dace"
  },
  "id": "g5whGBrXo0zUlpcQ",
  "tags": []
}